# Email SMTP Configuration (Gmail)
# 1. EMAIL_USER=your-email@gmail.com
# 2. EMAIL_PASS=your-google-app-password (Get it from Google Account Settings)
EMAIL_USER=ms9409621877@gmail.com
EMAIL_PASS=mgsi pvoz ohxw pixb
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# OR Better: Use HTTP-based Services (More reliable)
# Get a key at: https://resend.com
RESEND_API_KEY=
# OR SendGrid: https://sendgrid.com
SENDGRID_API_KEY=

SECRET_KEY=yoursecretkeyhere
DB_URI=postgresql://colour_user:colour_pass@localhost:5432/colourizer

# --- STORAGE (Use Cloudinary for unlimited image hosting) ---
# Get your URL at: https://cloudinary.com/console
CLOUDINARY_URL=QgWNlpHFkauD9MbsrlUkS33pukc
